spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: exercise-ai
  datasource:
    url: jdbc:h2:mem:exercise_ai;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: false

logging:
  level:
    root: INFO
    parkmineum.exercise_ai: DEBUG

# .env 활용을 통해 보안상 git에 올리지 않아야 하지만, 과제 특성상 API KEY를 코드에 포함하였습니다.
jwt:
  secret: ${JWT_SECRET:vipsionicaiassignmentsecretkeywhichislongenoughforhcames512}
  expiration: 86400000   # 24 hours

ai:
  provider: gemini
  gemini:
    api-key: ${GEMINI_API_KEY:AIzaSyDy5E4hnsylsmun7MIXDfHNov9Y3Fwblxo}
    base-url: https://generativelanguage.googleapis.com/v1beta
    model: gemini-2.5-flash